<div class="recipe">
    <h3>{{recipe.title}}</h3>
    <span class="date">Posted {{recipe.postDate | date}}
        Edited {{recipe.editDate | date}}</span>
    <p>{{recipe.description}}</p>
    <img srcset="{{apiHost}}/{{recipe.images.small}} 480w,
     {{apiHost}}/{{recipe.images.medium}} 800w,
     {{apiHost}}/{{recipe.images.full}} 1000w" sizes="(max-width: 600px) 480px, 800px, 1000w"
        src="{{recipe.images.full}}" alt="{{recipe.title}}">

    <p>Servings: {{recipe.servings}}</p>
    <p>Preparation Time: {{recipe.prepTime}}</p>
    <p>Cook Time: {{recipe.cookTime}}</p>

    <div class="ingredients border rounded">
        <h3>Ingredients</h3>
        <div *ngFor="let ingredient of recipe.ingredients">
            <span>
                {{ingredient.name}} {{ingredient.amount}} {{ingredient.measurement}}
            </span>
        </div>
    </div>

    <div class="directions">
        <h3>Directions</h3>
        <ol>
            <li *ngFor="let direction of recipe.directions">
                {{isOptionalText(direction)}}
                {{direction.instructions}}
            </li>
        </ol>
    </div>
</div>